{% extends 'base.html' %}

{% block title %}
    <title>Home </title>
{% endblock title %}


{% block body %}
    <style>
        .styling{
            background-color:black;
            color:white;
            border-radius:10px;
            box-shadow:1px 1px 20px black;
            background:transparent;
        }
    </style>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    <strong>Message:</strong> {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h1> Home Page. Welcome user with email: {{email}}</h1>

{% endblock body %}